*{
	margin: 0px;
	padding:0px;
}
body{
	background-color:gray;

}
section{
   height: 500px;
   background-color: transparent;
   
}
#aaaa{
	height: 370px;
	width:  60%;
	border: none;
	text-align: center;
	margin-left: 130px;
	margin-top: 40px;
}
.jjjj{
	background-color: green;
	font-size: 20px;
	color: white;
}
.LLLL{
	background-color: lightgreen;
}
#d{
	height: 100px;
	background-color: lightgray;
}

